= tag.div id: dom_id(board) do
  .row.px-1.border-bottom
    .col-12
      = board.template.title + ":"
      %strong= board.title

  .row.pt-3
    - board.lists[0..2].each do |list| 
      .col-md-4
        .list-large.border-pinkish
          .list-content
            .list-header.px-2.bg-pinkish
              = list.title
            .body
              = render partial: "lists/list", locals: { list: list }
  .row.pt-3
    - board.lists[3..5].each do |list| 
      .col-md-4
        .list-large.border-orangish
          .list-content
            .list-header.px-2.bg-orangish
              = list.title
            .body
              = render partial: "lists/list", locals: { list: list }
  .row.pt-3
    .col-md-4
      - board.lists[6..7].each do |list| 
        .list-medium.border-greenish
          .list-content
            .list-header.px-2.bg-greenish
              = list.title
            .body
              = render partial: "lists/list", locals: { list: list }
    .col-md-4
      - [board.lists[8]].each do |list|
        .list-large.border-purplish
          .list-content
            .list-header.px-2.bg-purplish
              = list.title
            .body
              = render partial: "lists/list", locals: { list: list }
    .col-md-4
      - board.lists[9..10].each do |list| 
        .list-medium.border-greenish
          .list-content
            .list-header.px-2.bg-greenish
              = list.title
            .body
              = render partial: "lists/list", locals: { list: list }
