= turbo_stream_from list, :cards
= tag.div id: "#{dom_id(list)}_cards", class: "d-block", data: { "controller" => "drag", "drag-url" => "/cards/:id/move", "list-id" => list.id } do
  = render list.cards
= render "cards/new", list: list
