.row
  .col-md-6
    %h2
      Edit #{resource_name.to_s.humanize}
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.input :name, placeholder: "Your full name"
      = f.input :email, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :password, autocomplete: "new-password", placeholder: "(leave blank if you don't want to change it)"
      = f.input :password_confirmation, autocomplete: "new-password"
      = f.input :current_password, autocomplete: "current-password", placeholder: "(we need your current password to confirm your changes)"
      .actions
        = f.submit "Update", class: "btn btn-sm btn-outline-secondary"
    %br
    %h3 Cancel my account
    %p
      Unhappy?
      = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-outline-danger"
    = button_to "Back", :back, method: :get
