.row
  .col-md-6
    %h2 Sign up
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.input :name, autofocus: true, placeholder: "Your full name"
      = f.input :email, autocomplete: "email"
      = f.fields_for :accounts do |account|
        = account.input :name, label: "Account", placeholder: "Your account name"      
      = f.input :password, autocomplete: "new-password", hint: "(#{@minimum_password_length} characters minimum)"
      = f.input :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Sign up", class: "btn btn-sm btn-outline-secondary float-end"
    = render "devise/shared/links"
