= turbo_frame_tag dom_id_for_records(@template) do
  .col-md-6
    = simple_form_for(@template, data: { "turbo-frame" => "_top" }) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs.mb-3
        = f.input :title
        = f.input :description
      .form-actions
        = f.button :submit, class: "btn btn-sm btn-outline-secondary float-end"
