%h1 Templates
%table
  %thead
    %tr
      %th Title
      %th Description
      %th{colspan: "3"}
  %tbody
    - @templates.each do |template|
      %tr
        %td= template.title
        %td= template.description
        %td= link_to 'Show', template
        %td= link_to 'Edit', edit_template_path(template)
        %td= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Template', new_template_path
