%h1 Template
%p
  %strong Title:
  = @template.title
%p
  %strong Template lists:
  - @template.template_lists.each do |template_list|
    %p= template_list.title
= link_to 'Edit', edit_template_path(@template)
|
= link_to 'Back', templates_path
