- if grouped_by_day_field_values.present?
  - grouped_by_day_field_values.each do |day, field_values|
    %table.table.table-sm
      %thead
        %tr
          %td= day == DateTime.now.strftime("%d %B %Y") ? "Today" : day
      %tbody
        - field_values.each do |field_value|
          %tr
            %td= field_value.value
