%table.table.table-sm
  %tbody
    - if @work_items.present?
      - @work_items.each do |work_item|
        %tr
          = render partial: 'work_item_component', object: work_item
          %td
            = content_tag :div, class: "count", data: {deadline: (work_item.deadline - Time.current).to_i} do
              = format_initial_time work_item.deadline.in_time_zone("Amsterdam")
          %td
            = button_to work_item_path(work_item.id), method: :patch, class: "btn btn-sm btn-outline-success" do
              V
          %td
            = button_to work_item_cancel_path(work_item.id), method: :patch, class: "btn btn-sm btn-outline-danger" do
              X
    - else
      = render partial: 'work_items/work_items_empty'
