%table.table.table-sm
  %tbody
    - if @work_items_finished.present?
      - @work_items_finished.each do |work_item|
        %tr
          = render partial: 'work_item_component', object: work_item
    - else
      = render 'work_items/work_items_empty'

