= link_to "New work item", new_work_item_path, class: "btn btn-sm btn-outline-secondary float-end"
%nav.border-bottom
  #nav-tab.border-0.nav.nav-tabs{role: "tablist"}
    %button#nav-inbox-tab.nav-link.active{"aria-controls" => "nav-inbox", "aria-selected" => "true", "data-bs-target" => "#nav-inbox", "data-bs-toggle" => "tab", role: "tab", type: "button"} Inbox
    %button#nav-finished-tab.nav-link{"aria-controls" => "nav-finished", "aria-selected" => "false", "data-bs-target" => "#nav-finished", "data-bs-toggle" => "tab", role: "tab", type: "button"} Finished
    %button#nav-overdue-tab.nav-link{"aria-controls" => "nav-overdue", "aria-selected" => "false", "data-bs-target" => "#nav-overdue", "data-bs-toggle" => "tab", role: "tab", type: "button"} Overdue
#nav-tabContent.tab-content
  #nav-inbox.tab-pane.fade.show.active{"aria-labelledby" => "nav-inbox-tab", role: "tabpanel"}
    = render partial: 'work_items/index_inbox'
  #nav-finished.tab-pane.fade{"aria-labelledby" => "nav-finished-tab", role: "tabpanel"}
    = render partial: 'work_items/index_finished'
  #nav-overdue.tab-pane.fade{"aria-labelledby" => "nav-overdue-tab", role: "tabpanel"}
    = render partial: 'work_items/index_overdue'

