.col-md-10
  %h3 New work item
  = simple_form_for(@work_item) do |f|
    = render 'layouts/error_messages', object: f.object
    .form-group.mb-3
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group.mb-3
      .row
        .col.col-lg-6.col-md-6
          = f.label :time_amount
          = f.select(:time_amount, options_for_select(@amounts, @amount_selected), { prompt: 'No time amount' }, { id: 'dropdown-choice-select-amount' })
        .col.col-lg-6.col-md-6
          = f.label :time_scale
          = f.select(:time_scale, options_for_select(@scales, @scale_selected), { prompt: 'No time scale' }, { id: 'dropdown-choice-select-scale' })
    .form-group.mb-3
      .row
        .col.col-lg-6
          = f.label :responsible_person
          = f.select(:responsible_person_id, options_for_select(@current_tenant_user_accounts, @recipient_id), { prompt: 'No responsible person' }, { id: 'dropdown-choice-select-has-one' })
    .form-group
      = f.button :submit, class: "btn btn-sm btn-outline-secondary float-end"
  = button_to "Cancel", :back, method: :get
