@import '~bootstrap/scss/bootstrap';
@import "choices.js/public/assets/styles/choices.css";
@import '../../../vendor/stylesheets/recurring_select.scss';

/*
 * Navbar
 */

 .navbar-brand-custom {
  font-weight: 500;
  color: #333;
  text-decoration: none;
  
  &:hover {
    color: #000;
  }
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu-accounts {
  right: 0px;
  left: auto !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu-nav-left {
  background: #FFFFFF;
  position: fixed;
  top: 35px !important;
  width: 280px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  .btn-close {
    margin-left: auto;
  }
  
  a {
    color: #333;

    &:hover {
      background-color: #ccc;
    }
  }
}

.dropdown-divider {
  margin: 0;
}

.navbar-light {
  background-color: #eee; 
  border-bottom: grey 1px solid;
}

.navbar-brand {
  font-size: 15px;
}

.nav-link {
  font-size: 13px;
  font-weight: 600;
}

// Devise styling
.container {
  font-size: 13px;

  .form-control {
    font-size: 13px;
  }

  .btn-outline-secondary:hover {
    color: black ;
    border: 1px solid black;
    background-color: white;
  }
  
  .btn-outline-danger:hover {
    color: red;
    border: 1px solid red;
    background-color: white;
  }
  
  .btn-sm {
    font-size: 13px;
  }
  
  .table td {
    vertical-align: middle;
  }
}

// Choices
.invalid-feedback {
  display: block;
}

.form-group-invalid .choices__inner {
  border: 1px red solid;
}

.choices__input, .choices__inner {
  background-color: #fff;
}

.choices__list--multiple .choices__item {
  border-radius: 0.25rem;
  background-color: #0195DA;
  border: #0195DA;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #2bb5e3;
  border: #01A5DA;
}

// Question answer
thead > tr > td {
  font-weight: bold;
}

// Question index
.table-outline {
  width: 100%;
  border: 1px solid lightgrey;
  margin: 20px 0;
}

#dropdown-recurring-form {
  transform: none !important;
  top: 30px !important;
  right: 0 !important;
  left: auto !important;
  padding: 0;
  margin: 0;
}

/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link, .offcanvas-sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

// hotfix for clickable svg inside anchor
svg {
  pointer-events: none
}

svg>rect {
  position: relative;
  pointer-events: auto;
}

/*
 * Board
 */

 .list-large {
  height: 240px;
  border: gray 1px solid;
  overflow-y: auto;
  background: #eee;
}

.list-medium {
  height: 120px;
  border: gray 1px solid;
  overflow-y: auto;
  background: #eee;
}

.list-content {
  height: auto;
}

.list-header {
  background: #999;
  color: white;
}

.card {
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  } 
}

.card > .field_with_errors {
  display: flex;
  flex-direction: column;
  
  textarea {
    border: red 1px solid;
  }  
}

$pinkish: #EE4D9B;
$orangish: #F8972E;
$greenish: #22A783;
$purplish: #6A479D;

.border-pinkish {
  border: $pinkish 1px solid;
}

.bg-pinkish {
  background-color: $pinkish;
}

.border-orangish {
  border: $orangish 1px solid;
}

.bg-orangish {
  background-color: $orangish;
}

.border-greenish {
  border: $greenish 1px solid;
}

.bg-greenish {
  background-color: $greenish;
}

.border-purplish {
  border: $purplish 1px solid;
}

.bg-purplish {
  background-color: $purplish;
}

.no-border {
  border: none;
}
