.col-md-6
  %h2= t "devise.invitations.edit.header"
  = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    = f.hidden_field :invitation_token
    .form-inputs
      = f.input :password
      = f.input :password_confirmation
    .form-actions
      = f.button :submit, t("devise.invitations.edit.submit_button"), class: 'btn-sm btn-outline-secondary'
