.col-md-6
  %h2= t "devise.invitations.new.header"
  = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    .form-inputs.mb-3
      = f.input :name
    - resource.class.invite_key_fields.each do |field|
      .form-inputs.mb-3
        = f.input field
    .form-inputs.mb-3
      = f.association :roles, input_html: { id: 'dropdown-choice-select' }, collection: Role.role_names.sort_by{|k,v|v}
    .form-actions.mb-3
      = f.button :submit, t("devise.invitations.new.submit_button"), class: "btn-sm btn-outline-secondary float-end"
  = button_to "overview", admin_users_path, method: :get, class: "float-start"
