.row
  .col-md-6
    %h2 Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true, autocomplete: "email"
      = f.input :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: "btn btn-sm btn-outline-secondary float-end"
    = render "devise/shared/links"
