= turbo_frame_tag dom_id_for_records(@board) do
  .col-md-6
    = simple_form_for(@board, data: { "turbo-frame" => "_top" }) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      
      .form-inputs.mb-3
        = f.label :template
        = f.error :template, class: "invalid-feedback"
        = f.select(:template_id, options_for_select(@templates), { prompt: 'No template selected' }, { id: 'dropdown-choice-select-has-one' })
        = f.input :title
        = f.input :description
      .form-actions
        = f.button :submit, class: "btn btn-sm btn-outline-secondary float-end"
