%h1 Canvasses
%table
  %thead
    %tr
      %th Type
      %th Title
      %th Description
      %th{colspan: "3"}
  %tbody
    - @boards.each do |board|
      %tr
        %td= board.template.title
        %td= board.title
        %td= board.description
        %td= link_to 'Show', board
        %td= link_to 'Edit', edit_board_path(board)
        %td= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Canvas', new_board_path
