<div id="<%= card.id %>"> 
<%= turbo_stream_from card %>
<%= turbo_frame_tag dom_id(card) do %>
  <div class="card">
    <div class="d-flex justify-content-between px-2">
      <%= card.title %>
      <div class="d-flex">
        <%= button_to "Edit", edit_card_path(card), method: :get, class: "btn btn-sm btn-outline-secondary" %>
        <%= button_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-sm btn-outline-secondary' %>
      </div>
    </div>
  </div>
<% end %>
</div>
