<% model = [local_assigns[:list], card].compact %>
<%= turbo_frame_tag dom_id_for_records(*model) do %>
  <%= form_with model: model, local: true,
    id: dom_id_for_records(*model) do |form| %>

    <div class="card">
      <%= form.text_area :title %>
    </div>
    <%= form.submit class: "btn btn-primary btn-sm" %>
    <%= link_to "Cancel", card, class: "btn btn-link" if form.object.persisted? %>
    <%= link_to "Cancel", cancel_list_path(list), class: "btn btn-link" if !form.object.persisted? %>
  <% end %>
<% end %>
