- if questions.present?
  - questions.each do |question|
    %table.table-sm.table-outline
      %tbody
        %tr
          %td
            - if question.paused
              = "This check-in is paused, nobody is being asked."
            - else
              = "Asking #{pluralize(question.allocations.count, 'person')}"
              = question.rule
              = " at " + question.time_of_day
            %h5= link_to question.description, form_path(question)
- else
  %table.table-sm.table-outline
    %tbody
      %tr
        %td
          %p No questions
