.col-md-6
  %h3 Edit question
  = simple_form_for(@form) do |f|
    = render 'layouts/error_messages', object: f.object
    .mb-3
      = f.input :description, label: "What question do you want to ask?"
    .mb-3
      = f.association :allocations, input_html: { id: 'dropdown-choice-select', multiple: true }, selected: @form.allocated_user_account_ids, required: true, label: "Who do you want to ask?", collection: @current_tenant_user_accounts, label_method: :first, value_method: :second
    = f.button :submit, value: "Start collecting answers", class: "btn btn-sm btn-outline-secondary float-end"

