= link_to "New recurring question", new_form_path, class: "btn btn-sm btn-outline-secondary float-end"
%nav.border-bottom
  #nav-tab.border-0.nav.nav-tabs{role: "tablist"}
    %button#nav-home-tab.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-bs-target" => "#nav-home", "data-bs-toggle" => "tab", role: "tab", type: "button"} Assigned
    %button#nav-profile-tab.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-bs-target" => "#nav-profile", "data-bs-toggle" => "tab", role: "tab", type: "button"} All
#nav-tabContent.tab-content
  #nav-home.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", role: "tabpanel"}
    = render 'forms/index_allocated_questions', questions: @allocated_questions
  #nav-profile.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", role: "tabpanel"}
    = render 'forms/index_questions', questions: @questions
