.col-md-6
  %h3 New question
  = simple_form_for(@form) do |f|
    = render 'layouts/error_messages', object: f.object
    .mb-3
      = f.input :description, label: "What question do you want to ask?"
    .form-group.mb-3
      = f.label "How often do you want to ask?", for: :schedule_recurrence, required: true
      %br
      = f.select_recurring :schedule_recurrence
      = f.full_error :schedule_recurrence, class: "invalid-feedback"
    .mb-3  
      = f.input :schedule_time_of_day, label: "At what time of the day?", as: :string, input_html: {type: "time", value: @time_of_day }, required: true
    .mb-3
      = f.association :allocations, input_html: { id: 'dropdown-choice-select' }, selected: @user_account_ids, required: true, label: "Who do you want to ask?", collection: @current_tenant_user_accounts, label_method: :first, value_method: :second
    = f.button :submit, value: "Start collecting answers", class: "btn btn-sm btn-outline-secondary float-end"
  = button_to "Cancel", :back, method: :get
