- if @form.paused
  = "This check-in is paused, nobody is being asked."
- else 
  = "Asking #{pluralize(@form.allocations.count, 'person')}"
  = @form.rule
  = " at " + @form.time_of_day
.float-end.dropdown
  %a#dropdownMenuButton.btn.btn-sm.btn-outline-secondary{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :type => "button"}
    = raw('&#9998;')
  #dropdown-recurring-form.dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
    = link_to "Edit", edit_form_path(@form), class: "dropdown-item"
    - if @form.paused
      = link_to "Start asking", form_pause_path(@form), class: "dropdown-item", method: :post
    - else 
      = link_to "Pause asking", form_pause_path(@form), class: "dropdown-item", method: :post
%h4= @form.description
- if !@form.paused
  = render 'field_values/new', form: @form, field: @field, field_value: @field_value
= render 'field_values/index', grouped_by_day_field_values: @grouped_by_day_field_values
