%h3 Edit user
.row
  .col-md-6
    %table.table
      %tbody
      - %i[name email].each do |field|
        - if field != :roles
          %tr
            %th{scope: "row"}= field
            %td= @user.public_send(field)
    = simple_form_for(@user, url: admin_user_path) do |f|
      .mb-3
        = f.association :roles, input_html: { id: 'dropdown-choice-select' }, collection: Role.role_names.sort_by{|k,v|v}
      = f.button :submit, class: "btn btn-sm btn-outline-secondary float-end"
      = button_to "cancel", admin_user_path(@user), method: :get, class: "float-start"
