= button_to 'Invite user', new_user_invitation_path, method: :get, class: "btn btn-sm btn-outline-secondary float-end"
%h3 Users
%table.table
  %thead
    %tr
      %th{:scope => "col"} Full Name
      %th{:scope => "col"} Roles
      %th{:scope => "col"} Archived
      %th{:scope => "col"} Actions
  %tbody
    - @user_accounts.each do |user_account|
      %tr
        %th{:scope => "row"} 
          = link_to user_account.user.name.full, admin_user_path(user_account.user_id)
        %td
          = user_account.user.roles.map(&:role_name).join(", ")
        %td
          = user_account.archived
        %td 
          = link_to raw('&#9998;'), edit_admin_user_path(user_account.user_id), method: :get, class: "btn btn-sm btn-outline-secondary"
          = link_to raw('Archive'), admin_user_archive_path(user_account.user_id), method: :post, class: "btn btn-sm btn-outline-secondary"


