%h3 User
.row
  .col-md-6
    %table.table
      %tbody
      - %i[name email roles].each do |field|
        - if field != :roles
          %tr
            %th{scope: "row"}= field
            %td= @user.public_send(field)
        - else
          %tr
            %th{scope: "row"}= field 
            %td
              = @user.roles.map(&:role_name).join(", ")
    = button_to raw('&#9998;'), edit_admin_user_path(@user), method: :get, class: "btn btn-sm btn-outline-secondary float-end"
    = button_to "overview", admin_users_path, method: :get, class: "float-start"
