.navbar-nav.ms-auto
  - if user_signed_in?
    .dropdown
      %a#navbarDropdownMenuLink.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
        = current_user.name
      .dropdown-menu.dropdown-menu-accounts{"aria-labelledby" => "navbarDropdownMenuLink"}
        .nav-link
          - @accounts.each do |account|
            = link_to account.name, select_tenant_path(account.id), class: "nav-link #{account.id == session[:current_tenant_id].to_i ? 'active border border-secondary rounded' : ''}"
        .dropdown-divider
        .nav-link
          = link_to "Logout", destroy_user_session_path, method: "delete", class: "nav-link"
  - else
    = link_to "Sign up", new_user_registration_path, class: "nav-link"
    = link_to "Login", new_user_session_path, class: "nav-link"
    - if !Rails.env.production? 
      = link_to "Login directly", user_session_path("user" => { "email" => "0@0.com", "password" => "123123" }), class: "nav-link", method: :post
