- if current_user.present?
  %nav.col-sm-2.col-md-2.col-lg-2.bg-light.sidebar.d-none.d-sm-block
    .sidebar-sticky.pt-3
      %ul.nav.flex-column
        %li.nav-item
          = link_to "Canvasses", boards_path, class: "nav-link"
          = link_to "Templates", templates_path, class: "nav-link"
          = link_to "Work Items", work_items_path, class: "nav-link"
          = link_to "Questions", forms_path, class: "nav-link"
          = link_to "Users", admin_users_path, class: "nav-link"
          = link_to "Profile", user_account_path, class: "nav-link"
