%header.navbar.navbar-expand.navbar-light.sticky-top.flex-md-nowrap.p-0.bg-light
  = render "layouts/navigation_top_left"
  = render "layouts/navigation_left_dropdown"
  = render "layouts/navigation_top_right"
