.dropdown
  %a#navbarDropdownMenuLinkLeft.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
    %svg{height: "20", viewbox: "0 0 100 100", width: "20"}
      %rect{height: "10", width: "100"}
      %rect{height: "10", width: "100", y: "30"}
      %rect{height: "10", width: "100", y: "60"}
  .dropdown-menu.dropdown-menu-nav-left{"aria-labelledby" => "navbarDropdownMenuLinkLeft"}
    .d-flex
      %a.p-2.btn.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "dropdown"}
    = link_to "Canvasses", boards_path, class: "nav-link"
    = link_to "Templates", templates_path, class: "nav-link"
    = link_to "Work Items", work_items_path, class: "nav-link"
    = link_to "Questions", forms_path, class: "nav-link"
    = link_to "Users", admin_users_path, class: "nav-link"
    = link_to "Profile", user_account_path, class: "nav-link"
