!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "stylesheet", media: "all", "data-turbolinks-track": "reload"
    = csrf_meta_tags
  %body
    = render "layouts/navigation_top_default"
    = render "layouts/navigation_breadcrumbs"
    .container-fluid
      .row
        = render "layouts/navigation_left"
        %main.col-sm-10.d-md-block.ms-sm-auto.px-md-4.mt-1
          .row 
            .col-md-9
              - if notice
                %p.alert.alert-success= notice
              - if alert
                %p.alert.alert-danger= alert
              = yield
