!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "stylesheet", media: "all", "data-turbolinks-track": "reload"
    = csrf_meta_tags
  %body
    = render "layouts/navigation_top_board"
    .container-fluid
      .row
        .col-12
          - if notice
            %p.alert.alert-success= notice
          - if alert
            %p.alert.alert-danger= alert
          = yield
